@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.projectDiv{
    background-color: #342f42;
    height: 80vh;
}

@media (max-width: 480px ) {
    .projectDiv{
        height: auto;
        padding-bottom: 20px;
    }
    .projectContainer{
        gap: 5px;
    }
}

@media (min-width: 481px ) and (max-width: 768px ) {
    .projectDiv{
        height: auto;
        padding-bottom: 20px;
    }
    .projectContainer{
        gap: 5px;
    }
}

@media (min-width: 769px ) and (max-width:1023px ) {
    .projectDiv{
        height: auto;
        padding-bottom: 20px;
    }
}

@media (min-width: 1024px ) and  (max-width:1200px ) {
    .projectDiv{
        height: auto;
        padding-bottom: 20px;
    }
}

@media (min-width:1201px ) {
    .projectDiv{
        height: auto;
        padding-bottom: 20px;
    }
}

#moreInfo {
    display: none;
}

#buttonHideShow {
    margin: 20px;
    cursor: url(../../img/hand.png), pointer;
}