@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.skillsContainer {
    height: 78vh;
}

#otrasHerramientas{
    color: #EDF2F7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    margin-top: 20px;
}

.hrSkills{
    max-width: 37vh;
    margin: auto;
}

.logoContainerSkills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    margin: 40px;
}

@media (max-width: 480px) {
    .skillsContainer {height: auto;}
}

@media (min-width: 481px ) and (max-width: 768px) {
    .skillsContainer {height: auto;}
}

@media (min-width: 769px ) and (max-width: 1023px) {
    .skillsContainer {height: auto;}
}

@media (min-width: 1024px ) and (max-width: 1200px) {
    .skillsContainer {height: auto;}
}

@media (min-width: 1201px) {
    .skillsContainer {height: auto;}
}