@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.card{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    width: 39vh;
    height: 61vh;
    display: inline-block;
    border-radius: 20px;
    margin-top: 10px;
}

.card img {
    border-radius: 19px 19px 0 0 ;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 10px 10px 0 wheat;

}

.container {
    background-color: rgb(250, 250, 250);
    color: #342f42;
    border-bottom: solid 2px;
    padding-bottom: 19px;
}
.buttonCardWidth{
    width: 150px;
}

.container h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin: 10px 0 10px 0;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.logoButtonCard{
    margin-right: 5px;
}

.textTech {
    font-variant: all-small-caps;
    font-weight: 500
}