@keyframes pan {
    100% {background-position: 15% 50%;}
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.homeContainer {
    background-color: #342f42;
    color: #fffff8;
    height: 90vh;
    margin-top: 40px;
    background-image: url('https://res.cloudinary.com/luubermudezz/image/upload/v1667156801/Portafolio/background_portfolio_bnb8zt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    animation: pan 8s infinite alternate linear;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profileHome {
    border-radius: 57%;
    filter: grayscale(1);
    width: 355px;
}

.textDivHome{
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.textDivHome h2{
    font-size: 37px;
}
.textDivHome h1{font-size: 55px;}
.textDivHome h3{font-size: 27px; color: #EDF2F7;}
.textDivHome p{font-size: 21px;  color: #C1C1C1; }

.logoHomeContainer{
    display: flex;
    gap: 30px;
    margin-top: 5px;
    align-items: center;
    align-content: center;
}

.logoHomeContainer img{
    padding: 10px;
    width: 51px;
    border-radius: 5px;
}

.logoHomeContainer img:hover {
    cursor: pointer;
    background-color: #443f53;    
}



@media (max-width: 480px) {
    .homeContainer{flex-direction: column; height: auto; padding-top: 70px ;}
    .textDivHome{text-align: center;}
    .textDivHome h2{
        font-size: 30px;
    }
    .textDivHome h1{font-size: 33px;}
    .textDivHome h3{font-size: 22px; color: #EDF2F7;}
    .textDivHome p{font-size: 18px;  color: #C1C1C1; }
    .profileHome{width: 200px;}
}

 @media (max-width: 768px) {
    .homeContainer{flex-direction: column; height: auto; padding-top: 70px ;}
    .textDivHome{text-align: center;}
    .textDivHome h2{
        font-size: 30px;
    }
    .textDivHome h1{font-size: 33px;}
    .textDivHome h3{font-size: 22px; color: #EDF2F7;}
    .textDivHome p{font-size: 18px;  color: #C1C1C1; }
    .profileHome{width: 200px;}
} 