.App {
  text-align: center;
  background-color: #342f42;
  width: auto;
  cursor: url(../src/img/mouse.png), auto
}

@media(max-width: 481px ){
  .divSectionContainer {
      width: 50vh;
      margin: auto;
      padding-top: 50px;
      padding-bottom: 20px;
  }
}

@media(min-width: 481px ){
  .divSectionContainer {
    width: auto;
    padding-top: 50px;
    padding-bottom: 20px;
  }
}




.titleSection{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(250, 250, 250) ;
  font-size: 40px;
  padding: 20px 0px 20px 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
